body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(145, 140, 145);
    margin: 0;
}

article, aside, footer, header {
    padding: 1em;
    box-sizing: border-box;
}

header{
    background-color: hotpink;
    color:rgb(223, 223, 223);
    text-align: center;
    border-bottom: 1em solid;
}

aside{
    background-color: rgb(205, 250, 100);
    flex: auto;
}

 nav{
    background-color: rgb(223, 223, 223);
    display: flex;
    position: relative;
    left: 0;
    padding: 2em;
}

header a{
    flex: auto;
    text-align: center;
    background-color: rgb(205, 250, 100);
    color:sienna;
    margin: 0 0.5em;
    text-decoration: none;
}

header a:hover {
    outline: 0.5em solid pink;
    text-decoration: none;
}

nav p {
    flex: auto;
    text-align: center;
    background-color: rgb(205, 250, 100);
    color:sienna;
    margin: 0 2em;
    padding: 2em 0
}

nav a:hover {
    outline: 0.5em solid pink;
    text-decoration: underline;
}

footer{
    background-color: tomato;
    flex: 1 0;
}

@media screen and (min-width: 30em) {
    body {
        display: flex;
        flex-direction: column;
        max-width: 75em;
        margin: auto;
    }
    main {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        border-bottom: 0.5em solid;
    }
    nav, header {
        order: -1;
    }
    article {
        flex: 75%;
    }
    aside {
        flex: 25%;
    }
}